/*! Style for thomasdezeeuw.nl */

body {
	line-height: 1;
	/* Use the system native font. */
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	color: #666;
	text-rendering: optimizeLegibility;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,
audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: #666; /* Grey. */
}

/* Main page content. */
section, article {
	margin: 40px auto;
	padding: 60px 0 40px 0;
	max-width: 600px;
}

/* Footer shown at the bottom of the page. */
footer {
	padding-top: 20px;
	margin: 20px auto;
	max-width: 600px;
	border-top: 1px solid #eee;
	text-align: center;
}

/* Base elements. */
h1, h2, h3, h4 {
	color: #222; /* Dark-grey, almost black. */
	font-weight: 300;
	line-height: 1.4em;
	margin-top: 20px;
	margin-bottom: 10px;
}

a {
	color: #5badf0; /* Light Blue. */
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

/* Slightly darker blue. */
a:active {
	color: #5694f1; /* Blue. */
	text-decoration: underline;
}

/* Inline code. */
p code {
	padding: 0 0.1em;
	background-color: #F5F5F5;
	border-radius: 3px;
	font-family: 'Source Code Pro',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

/* Center the first header of the page. */
section h1:first-child, article h1:first-child {
	letter-spacing: -1px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

article time {
	margin: -5px 0 40px 0;
	color: #b2b9be;
	font-size: smaller;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	text-align: center;
}

/* bit more spacing for the text. */
section p, article p {
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Smaller and lighter-grey text in the footer. */
footer p {
	color: #bbb;
	font-size: smaller;
}

/* Main navigation at the top of the page. */
nav.main-nav {
	padding: 20px 20px 0;
	text-align: right;
}

nav.main-nav a {
	padding: 8px 12px;
	font-size: 13px;
}

/* Profile shown on the home page. */
header.profile {
	padding: 100px 40px 40px;
	max-width: 600px;
	margin: 0 auto 40px auto;
	border-bottom: 1px solid #eee;
	text-align: center;
	position: relative;
}

header.profile img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}

header.profile h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20px;
	color: #222;
}

header.profile h2 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: 300;
	color: #aaa;
	margin-top: 10px;
	font-style: normal;
}

/* Home page's list of blog posts.*/
section.home li {
	margin: 0 0 30px; /* Bottom spacing. */
	padding: 0;
	list-style-type: none;
}

section.home li:last-child {
	margin-bottom: 0;
}

section.home li a {
	display: block;
}

section.home li h1 {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #333;
}

section.home li p, section.home li time {
	margin: 0;
	padding: 0;
	color: #aaa;
}

section.home li time {
	margin-top: -25px;
	float: right;
}

/* Nice transition for making the header and time blue, gives the link a
 * "softer" feel. */
section.home li h1, section.home li time {
	transition: all .3s ease;
}

/* Make the header and time light blue on hover & active. */
section.home a:hover, section.home a:focus,
section.home a:hover h1, section.home a:focus h1,
section.home a:hover time, section.home a:focus time {
	color: #5badf0; /* Light blue. */
	text-decoration: none;
}

/* Same as above, but a slightly darker blue. */
section.home a:active,
section.home a:active h1,
section.home a:active time {
	color: #5694f1; /* Blue. */
	text-decoration: none;
}

/* Highlighted code. */
.highlight {
	margin-bottom: 20px;
}

.highlight .chroma {
	white-space: pre-wrap;
	padding-left: 5px;
	overflow: auto;
	border-radius: 3px;
	font-family: 'Source Code Pro',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	line-height: 1.2;
}
